#results {
    white-space: pre-wrap;
    height: 100%;
    width: 50%;
    max-width: 50%;
}

#display {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 50%;
}